
<div class="registration-page">
  <div class="secondary-menu">
    <div class="group-title-page">
      <a href="javascript:void(0)" (click)="goBack()">
        <i class="icon-back icon-common fas fa-arrow-left"></i>
      </a>  
      <div>Đăng ký dịch vụ</div>
    </div>
    <div class="secondary-menu-btns">
      <button class="btn-common btn-secondary btn-medium mr-3 ">Lưu</button>
      <button class="btn-common btn-secondary btn-medium mr-3 ">Tạo mới</button>
      <button class="btn-common btn-primary btn-medium">Nộp đơn</button>
    </div>
  </div>

  <div class="main-body container-body">
    <div class="container-fluid">
      <div class="row">
        <div class="left-block col-12">
          <div class="form-registration section-common">
            <h4>Đặt phòng họp</h4>
            <div class="form-group-common">
              <div class="form-group-block">
                <label for="nameMeeting">Tên buổi họp</label>
                <input type="text" id="nameMeeting">
              </div>
            </div>
            <div class="form-group-common">
              <div class="form-group-block">
                <label for="startTime">Thời gian bắt đầu</label>
                <input [(ngModel)]="value_startTime" type="datetime" id="startTime" name="startTime" [ngxMatDatetimePicker]="startTime">
                <mat-datepicker-toggle matSuffix [for]="startTime"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startTime></ngx-mat-datetime-picker>
              </div>
            </div>
            <div class="form-group-common">
              <div class="form-group-block">
                <label for="endTime">Thời gian kết thúc</label>
                <input [(ngModel)]="value_endTime" type="datetime" id="endTime" name="endTime" [ngxMatDatetimePicker]="endTime">
                <mat-datepicker-toggle matSuffix [for]="endTime"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endTime></ngx-mat-datetime-picker>
              </div>
            </div>
            <div class="form-group-common">
              <label>Đặt phòng họp tại</label>
              <div class="cards-common">
                <div class="row">
                  <div *ngFor="let m of meetingRoom; let i = index"
                       (click)="selectMeetingRoom(i)"
                       class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <a href="javascript:;"
                       [class.selected]="selectedIndex === i"
                       class="card-item">
                      <div class="card-title">{{m.name}}</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="sidebar-right-tabs open-tabs">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Mô tả
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="expansion-panel-body">
                <div>
                  Đơn này dùng để đăng ký phòng họp
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Lịch họp
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="expansion-panel-body">
                <div class="cards-common">
                  <div class="card-item">
                    <div class="card-time small">10:30 - 11:30</div>
                    <div class="card-detail">
                      <div class="card-detail-info smaller">Phòng họp 1 - 34 Hoàng việt, Phường Tân Binh</div>
                      <h5>Họp Design System</h5>
                    </div>
                  </div>

                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>


