
h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}
.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.mat-h5,
.mat-typography h5,
h5 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}


.small {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.smaller {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.font-weight-bold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}
