
<div class="confirmation-page">
  <div class="secondary-menu">
    <div class="group-title-page">
      <a href="javascript:void(0)" (click)="goBack()">
        <i class="icon-back icon-common fas fa-arrow-left"></i>
      </a>
      <div>Xét duyệt dịch vụ</div>
    </div>
    <div class="secondary-menu-btns">
      <div class="select-common">
        <mat-label>Trạng thái đơn</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let status of formStatus" [value]="status.id">
            {{status.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div class="main-body container-body">
    <div class="container-fluid">
      <div class="row">
        <div class="left-block col-12">
          <div class="form-registration section-common">
            <h4>Đặt phòng họp</h4>
            <div class="form-group-common">
              <div class="form-group-inline">
                <label>Làm đơn cho: </label>
                <div class="font-weight-medium">Nguyễn Phương Linh - FE</div>
              </div>

            </div>
            <div class="form-group-common">
              <div class="form-group-inline">
                <label>Tên buổi họp: </label>
                <div class="font-weight-bold">Họp Design System</div>
              </div>
            </div>
            <div class="form-group-common">
              <div class="form-group-inline">
                <label>Thời gian bắt đầu: </label>
                <div class="font-weight-bold">16:00:00, 16/09/2020</div>
              </div>
            </div>
            <div class="form-group-common">
              <div class="form-group-inline">
                <label>Thời gian kết thúc: </label>
                <div class="font-weight-bold">17:00:00, 16/09/2020</div>
              </div>
            </div>
            <div class="form-group-common">
              <div class="form-group-inline">
                <label>Phòng họp tại: </label>
                <div class="font-weight-bold">Phòng họp 1 - 34 Hoàng việt, Phường Tân Binh</div>
              </div>
            </div>
          </div>
          <div class="comment-section  section-common">
            <div class="small">Bình luận</div>
            <div class="comment-list">
              <div class="comment">
                <div class="comment-avatar">
                  <img src="https://i.pinimg.com/236x/3c/21/b9/3c21b9b7044bf37b4f929e1a43f9e5d3.jpg" />
                </div>
                <div class="comment-info">
                  <span class="name">Linh</span>
                  <span class="posted-time">2 tiếng</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
              <div class="comment">
                <div class="comment-avatar">
                  <img src="https://i.pinimg.com/236x/3c/21/b9/3c21b9b7044bf37b4f929e1a43f9e5d3.jpg" />
                </div>
                <div class="comment-info">
                  <span class="name">Linh</span>
                  <span class="posted-time">2 tiếng</span>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
              <div class="comment">
                <div class="comment-avatar">
                  <img src="https://i.pinimg.com/236x/3c/21/b9/3c21b9b7044bf37b4f929e1a43f9e5d3.jpg" />
                </div>
                <div class="comment-info">
                  <div class="name">Linh</div>
                  <textarea matInput placeholder="Nhập nội dung" rows="10" class=""></textarea>

                  <div class="upload-file-common" appDnd (fileDropped)="onFileDropped($event)">
                    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
                    <p>Kéo thả tài liệu hoặc <label for="fileDropRef">ấn để tải tài liệu</label></p>
                  </div>
                  <div class="files-list">
                    <div class="single-file" *ngFor="let file of files; let i = index">
                      <i class="far fa-file-alt"></i>                   
                      <div class="info">
                        <div class="name-file">
                          {{ file?.name }}
                        </div>
                        <p class="size-file smaller">
                          {{ formatBytes(file?.size) }}
                        </p>
                        <app-progress [progress]="file?.progress"></app-progress>
                      </div>
                      <img src="assets/img/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
                    </div>
                  </div>
                  <button class="btn-send-comment btn-common btn-primary">Gửi</button>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="sidebar-right-tabs open-tabs">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Thông tin người nộp
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="expansion-panel-body">
                <div class="form-group-common">
                  <div class="form-group-block">
                    <label>Người nộp đơn: </label>
                    <div class="font-weight-bold">Nguyễn Phương Linh</div>
                  </div>
                </div>
                <div class="form-group-common">
                  <div class="form-group-block">
                    <label>Làm đơn cho: </label>
                    <div class="font-weight-bold">Nguyễn Phương Linh</div>
                  </div>
                </div>
                <div class="form-group-common">
                  <div class="form-group-block">
                    <label>Chức vụ: </label>
                    <div class="font-weight-bold">FE</div>
                  </div>
                </div>
                <div class="form-group-common">
                  <div class="form-group-block">
                    <label>Phòng ban: </label>
                    <div class="font-weight-bold">IT</div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>


